<!DOCTYPE html>
<html>
<head>
<title>Smart Voting</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="navbar">
<h2>🗳 Smart Voting</h2>
<nav>
    <a href="/">Home</a>
    <a href="/vote">Vote</a>
    <a href="/result">Results</a>
    <a href="/admin">Admin</a>
    {% if session.get('user') %}
    <a href="/logout">Logout ({{session['user']}})</a>
    {% else %}
    <a href="/login">Login</a>
    {% endif %}
</nav>
</header>

<div class="container">
{% block content %}{% endblock %}
</div>

</body>
</html>
